/* === À PROPOS === */
.a-propos-main {
  width: 80%;
  margin: auto;
  padding: 0 50px;
}

.a-propos-introduction {
  background-color: white;
  color: black;
}

.a-propos-introduction h1 {
  color: #1f2039;
}

header {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(31, 32, 57, 0.2);
}
