/* === Accueil - Introduction === */
.a-propos-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

.texte-intro {
  max-width: 800px;
  margin: 0 auto;
}

.texte-intro h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.5em;
  color: #a5b4fc;
  margin: 0 0 20px 0;
}

.titre-central {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.5em;
  color: #a5b4fc;
  opacity: 0;
  animation: fadeInTitre 2s ease-in forwards;
  text-align: center;
}

/* Animation fondu */
@keyframes fadeInTitre {
  to {
    opacity: 1;
  }
}

.texte-intro p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0 auto 40px auto;
  width: 100%;
  text-align: center;
}

/* === Section "Mon parcours" - Styles de conteneur général === */
.mon-parcours {
  display: flex;
  flex-direction: column; /* Les éléments s'empilent verticalement */
  align-items: center;   /* Centre les éléments horizontalement dans la colonne */
  gap: 40px;             /* Espacement entre le H2 et la vidéo (peut être ajusté ou enlevé si tu veux gérer les marges manuellement) */
  background-color: white;
  padding: 80px;
}

.mon-parcours h2 {
  color: black;
  text-align: center;
  margin-bottom: 80px; /* Rétablis à 80px comme tu le souhaites */
  font-size: 1.6em;
}


