/* === Accueil - Introduction === */
.projets-introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 40px;
    gap: 60px;
}

.texte-intro {
  width: 66%;
  padding-left: 40px;
  padding-right: 40px;
  border-right: 1px solid #ccc;
}

.texte-intro h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.5em;
  color: #a5b4fc;
  margin: 0 0 20px 0;
}

.titre-central {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.5em;
  color: #a5b4fc;
  opacity: 0;
  animation: fadeInTitre 2s ease-in forwards;
  text-align: center;
}

@keyframes fadeInTitre {
  to {
    opacity: 1;
  }
}

.texte-intro p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0 auto 40px auto;
  width: 100%;
  text-align: center;
}

/* === Sommaire === */
.sommaire-projets {
  width: 34%;
  padding-left: 20px;
  padding-right: 40px;
  font-size: 0.85em;
   text-align: left;
}

.sommaire-projets h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  color: white;
  margin-bottom: 20px;
}

.sommaire-projets ul {
  list-style-type: none;
  padding-left: 0;
  }

.sommaire-projets li {
  margin-bottom: 10px;
}

.sommaire-projets li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sommaire-projets li a:hover {
  color: #a5b4fc;
}

.sommaire-projets ul ul {
  padding-left: 20px;
  margin-top: 5px;
}


.sommaire-projets > ul > li > a {
  font-weight: bold;
}

/* Sous-sections légèrement décalées */
.sommaire-projets ul ul li {
  padding-left: 10px;
  font-size: 0.95em;
}


.creations-graphiques {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0;
  width: 100%;
}

.creations-graphiques h2 {
  color: black;
  text-align: center;
  margin: 40px 0;
  font-size: 1.6em;
}

  .design-graphique {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  min-height: 450px; /* Pour que ce soit bien centré */
  gap: 200px; /* => espace entre l'image et le texte */
  padding: 40px;
}

.texte-projets {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texte-projets h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  color: #a5b4fc;
  margin: 0 0 20px 0;
}

.texte-projets p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 40px;
  color: black;
}

.design-graphique img {
  max-width: 370px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 40px;
  align-self: flex-start;
}



.lightbox-trigger img {
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}

.lightbox-trigger img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox-img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.close-lightbox {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s;
}

.close-lightbox:hover {
  transform: scale(1.2);
}




html {
  scroll-behavior: smooth;
}
