/* === Introduction === */
.a-propos-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

.texte-intro {
  max-width: 800px;
  margin: 0 auto;
}

.texte-intro h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.5em;
  color: #a5b4fc;
  margin: 0 0 20px 0;
}

.titre-central {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.5em;
  color: #a5b4fc;
  opacity: 0;
  animation: fadeInTitre 2s ease-in forwards;
  text-align: center;
}

/* Animation fondu */
@keyframes fadeInTitre {
  to {
    opacity: 1;
  }
}

.texte-intro p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0 auto 40px auto;
  width: 100%;
  text-align: center;
}


.outils {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0;
  width: 100%;
}

.outils h2 {
  color: black;
  text-align: center;
  margin: 40px 0;
  font-size: 1.6em;
}

.image-outils {
  width: 100%;
  margin-top: 10px; 
}

.image-outils img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* ou 'contain' selon ton besoin */
}


/* === Section Motivation === */
.certifications {
  width: 100%;
  background-color: #1f2039;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.certifications-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.certifications-content h3 {
  color: white;
  text-align: justify; /* Justification des titres */
  font-size: 1.6em;
  font-family: inherit;
  margin: 0;
}

.certifications-content p {
  color: white;
  font-size: 1.2em;
  line-height: 1.6;
  text-align: justify; /* Justification du texte */
  margin: 0;
}
